html, body {
	height: 100%;
}
body ul {
	margin-left:0;
}
body a, body a:link, body a:visited {
	text-decoration:none;
}
li {
	list-style:none;
}
label {
	font-weight:bold;
}
body textarea {
	width:250px;
	height:50px;
}
.right {
	float:right;
}
#wrap {
  min-height:100%;
}
#main {
	overflow: visible;
	padding-bottom: 50px; /* must be same height as the footer */
	padding-top: 60px;
}
.flash {
    background-color: #FFFFCC;
    border-radius: 7px 7px 7px 7px;
    margin-bottom: 10px;
    padding: 10px;
}

.footer {
	position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;
	border: none;
	padding: 0px;
}
.footer ul.nav {
	margin:0 auto;
	width:183px;
	font-size:10px;
}
.footer ul.nav a {
	text-decoration:none;
}

/*Login Dialog*/
.login-dialog .login-in-message {
	background-color:#FFF7B2;
	border-radius:7px 7px 7px 7px;
	font-size:14px;
	margin-bottom:14px;
	padding:9px;
}
.login-dialog .sign-in-form {
  width:50%;
}
.login-dialog .sign-up-form {
	float:right;
	border-left:1px solid #eee;
	margin-left:20px;
	padding-left:30px;
	margin-right:15px;
}
.login-dialog #si_user_remember_me {
	display:block;
	float:left;
  margin-right:5px;
}
.login-dialog #si_user_password {
	display:block;
}

/*Errors*/
#error_explanation {
	background-color:#ffcccc;
	border-radius:7px 7px 7px 7px;
	font-size:14px;
	margin-bottom:14px;
	padding:9px;
	font-size:1em;
}
#error_explanation h2 {
	font-size:17px;
	line-height:1em;
	margin-bottom:5px;
}