defaults: &defaults
  site_name: "Site Name"
  paperclip_options:
    storage: s3
    s3_credentials:
      access_key_id: "my_access_key_id"
      secret_access_key: "my_secret_access_key"
    bucket: "my.bucket"
    url: ":s3_domain_url"
    path: "/:class/:attachment/:id/:style/:hash.:extension"
    hash_data: ":class/:attachment/:id/:style/:extension"
    hash_secret: "my_secret"

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults